# Dependências e Builds futuros
node_modules/
dist/
build/
.next/
out/

# Arquivos de Ambiente e Chaves de Segurança
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key

# Sistema Operacional e IDEs
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.swp
